<div id="headerId">
  <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" routerLink="dashboard">Cryptopocket</a>
    <!-- TODO Class "navbar-toggler" hides the Button -->
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
      <i class="fa fa-bars text-muted" aria-hidden="false"></i>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" ngbDropdown>
          <!-- TODO Name -->
          <a class="nav-link" ngbDropdownToggle>
            <i class="fa fa-user"></i> {{ username }} <b class="caret"></b>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- TODO URL and Text -->
            <a class="dropdown-item" href="">
              <i class="fa fa-fw fa-user"></i> Profile
            </a>
            <!-- TODO URL and Text -->
            <a class="dropdown-item" href="">
              <i class="fa fa-fw fa-envelope"></i> Inbox
            </a>
            <!-- TODO URL and Text -->
            <a class="dropdown-item" href="">
              <i class="fa fa-fw fa-gear"></i> Settings
            </a>
            <!-- TODO URL and Text -->
            <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
              <i class="fa fa-fw fa-power-off"></i> Logout
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
