.main-container {
  margin-top: 56px;
  margin-left: 235px;
  padding: 15px;
  -ms-overflow-x: hidden;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .main-container {
    margin-left: 0px !important;
  }
}
