<div id="appId">
  <app-header [username]="idmUser && idmUser.username" *ngIf="loggedIn"></app-header>
  <app-sidebar *ngIf="loggedIn"></app-sidebar>

  <section [ngClass]="{loggedIn: main-container}">
    <router-outlet></router-outlet>
  </section>
</div>
