<nav class="sidebar" [ngClass]="{sidebarPushRight: active}">
  <ul class="list-group">
    <!-- TODO Text -->
    <li>
      <span>Pocket</span>
    </li>
    <li>
      <a routerLink="dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
      </a>
    </li>
  </ul>
</nav>
