<p>
  login works!
</p>

<div id="loginForm">
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <input id="usernameInput" type="text" name="username" [(ngModel)]="credentials.username" #username="ngModel"
           required>
    <input id="passwordInput" type="text" name="password" [(ngModel)]="credentials.password" #password="ngModel"
           required>
    <input id="rememberTokenCheckbox" type="checkbox" name="checkbox" [(ngModel)]="credentials.rememberToken"
           #rememberToken="ngModel">
    <button>Login</button>
  </form>
</div>
